<% if (req.flash('error') == "true"){ %>
<div class="alert alert-danger">
    <p class="error"> Bien tenté Florent ... </p>
</div>
<% } %>


<table class="table">

    <thead>
    <tr>
        <th>#</th>
        <th>Serial</th>
        <th>Etat</th>
        <th class="col-md-2">Système d'Exploitation</th>
        <th>Utilisateurs</th>
        <th>Garantie</th>
        <th>Mis à Jour </th>
        <th>Région</th>
        <th class="col-md-2">Action</th>
    </tr>
    </thead>

    <%  for(var i = 0 ; i < computer.length ; i++) {%>
    <% if (computer[i].SAV == 1) { %>
    <tr class="alert alert-danger">
        <% } else { %>
    <tr>
        <% } %>
        <td><%= computer[i].id %></td>
        <td><%= computer[i].serial %></td>
        <td><%= computer[i].state %></td>
        <td><%= computer[i].os %></td>
        <td><%= computer[i].usage %></td>
        <td><%= computer[i].garantie %></td>
        <td><%= computer[i].updatedAt %></td>
        <td><%= computer[i].department.department %></td>

        <% if (computer[i].SAV == 1 ) { %>
        <td><a href="/computers/<%= computer[i].id %>">Voir</a> / <a href="/back/<%= computer[i].id %>">En Retour SAV</a></td>
        <% } else { %>
        <td><a href="/computers/<%= computer[i].id %>">Voir</a> / <a href="/edit/<%= computer[i].id %>">Envoyer en SAV</a></td>
        <% } %>
    </tr>
    <% } %>
</table>
